<div class="row">   
    <div class="col-md-4 col-md-offset-4">   
        <h1>Sign Up</h1>
        <br><br><br>
        <form action="/users/register" method="post">
            <div class="form-group">
                <label for="EmailAddress">Email Address</label>
                <input class="form-control" type="text" aria-describedby="emailHelp" name="email" placeholder="example@gmail.com" required data-msg-required="Enter Email Address">
                <br>
                <small id="emailHelp" class="form-text text-muted">We will never share your email with anyone else</small>
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input class="form-control" type="password" aria-describedby="passwordHelp" name="password" placeholder="{{{hello}}}" 
                    required data-msg-required="Enter a valid password"
                        minlength="6" maxlength="35">
                <small id="passwordHelp" class="form-text text-muted"></small>
            </div>
            <button type="submit" class="btn btn-primary"> Sign Up </button>
        </form>
    </div>
</div>